
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Rubik',sans-serif;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(12, 53, 106, 1);
    border-radius: 1rem;
  }

body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    --main-color: #333333;
    --title-color: #f9f9f9;
    --background-color: #058A9F;
    --dark-text-color: #000000f0;
    --text-color: #000000;
    --primary-color: #0C356A;
    --secondary-color: #0174BE;

    --white: #ffffff;
    --dark: #000000;
}

