$main-color: #333333;
$title-color: #f9f9f9;
$background-color: #058A9F;
$dark-text-color: #000000f0;
$text-color: #000000;
$primary-color: #0C356A;
$secondary-color: #0174BE;

$white: #ffffff;
$dark: #000000;

* {
    font-family: 'Rubik',sans-serif;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(12, 53, 106, 1);
    border-radius: 1rem;
  }

body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.Title-Image {
  display: flex;
  width: 100%;
}

.div-Title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/mainpage.jpg'); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Title{
  width: 40%;
  font-weight: bold;
  font-size: 3em;
  color: var(--dark-text-color);
}

.div-Button {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 15%;
  bottom: 5%;
  right: 5%;
}

.div-Button>p {
  margin-bottom: 0.4em;
  font-weight: 700;
}

.btn-PdC {
  padding: 0.25em;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  transition: 450ms ease-in-out;
}

.btn-PdC:hover {
  color: var(--white);
  background-color: var(--primary-color);
}